.header{
    padding: 10px;
    background-color: #180F0F;
    .main{
        display: flex;
        justify-content: space-between;
    .image{
        background-image: url(../../assets/Images/logo.png);
        width: 150px;
        height: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    ul{
        list-style-type: none;
        display: flex;
        margin-right: 100px;
        li{
            cursor: pointer;
            margin-left: 20px;
            color: white;
            font-weight: 500;
            font-size: 14px;
            border-bottom: 3px solid transparent;
            padding-bottom: 3px;
            &:hover{
                color: aquamarine;
                border-bottom: 3px solid aquamarine;
            }
        }
    }
}
}